REACT_APP_TMDB_BASE_URL=https://api.themoviedb.org/3
REACT_APP_TMDB_TOKEN=replace_with_your_tmdb_api_read_access_token
REACT_APP_TMDB_IMAGE_URL=https://image.tmdb.org/t/p/w500
REACT_APP_LOGIN_USERNAME=demo
REACT_APP_LOGIN_PASSWORD=demo123
